body {
    background: black;
}

#canvas1{
    /* border: 3px solid white; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* transform dich chuyen vi rtri ra giua */
    width: 900px;
    height: 600px;
    background: white;
}